
  



    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div >
          <div class="row">

            <div *ngFor="let parcel of parcels" class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{parcel.addr_number}}</a>
                  </h4>
                  <h5>{{parcel.addr_street_name}}</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
      </div>
      <!-- /.row -->
    </div>
<!--
<button (click)="addItem()">Add</button>


<p  *ngFor="let parcel of parcels">

  {{parcel.addr_street_name}}
</p> -->